{% extends 'base.html.twig' %}

{% block title %}
Welcome to main page
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/mainstyles.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<article>
    <a href="{{url('post_index')}}"><h1>{{"label.go_to_all_posts"|trans}}</h1></a>
    <a href="{{url('postCategory_index')}}"><h1>{{"label.go_to_all_categories"|trans}}</h1></a>
</article>
{% endblock %}