<nav class="main_container">
    <div class="topbar">
        <a href="{{url('hello_index')}}"><h1 class="topbar_header">Blogger</h1></a>
        <div class="topbar_categoriesWrapper">
            <div class="topbar_singleCategory">
                <a href="{{url('post_index')}}"><p>{{"label.go_to_all_posts"|trans}}</p></a>
            </div>
            <div class="topbar_singleCategory">
                <a href="{{url('postCategory_index')}}"><p>{{"label.go_to_all_categories"|trans}}</p></a>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="topbar_singleCategory">
                <a href="{{url('app_register')}}"><p>{{"title.RegisterNewAdmin"|trans}}</p></a>
            </div>
            {% endif %}
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div style="display: flex; justify-content: space-around; min-width: 595px; align-items: center;">
                <div style="margin: 10px; font-size: 20px; font-weight: 550; color: white;">{{ app.user.email }}</div>
                <a style="margin: 10px; font-size: 20px; font-weight: 550; color: white; padding: 5px; background-color: lightblue; border-radius: 10px;" href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
                <a style="width: 122px; margin: 10px; font-size: 20px; font-weight: 550; color: white; padding: 5px; background-color: lightblue; border-radius: 10px;" href="{{ url('app_account_edit', {id: app.user.id}) }}">{{ 'action.account_edit'|trans }}</a>
            </div>
        {% else %}
                <div style="padding: 10px; background-color: lightblue; color: yellow; font-size: 16px; font-weight: 550;">
                    <a href="{{url('app_login')}}" style="text-decoration: none; color: inherit;">{{ "title.Log_in"|trans }} </a>
                </div>
        {% endif %}
    </div>
</nav>